<!DOCTYPE html>
<html lang="en">
    <head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
		<meta charset="utf-8">
		<title>API Key Manager</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="og:site_name" content="" /> 
		<meta name="og:title" content="" /> 
		<meta name="og:description" content="" /> 
        <meta name="google-site-verification" content="" />
		<link href="/bootstrap/css/readable/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

		<!--[if lt IE 9]>
		  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
		<link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

		<!-- load jquery from google CDN, with a protocol relative URL; otherwise local if offline -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="bootstrap/js/jquery-1.7.1.min.js"><\/script>')</script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script>
	
		$(document).ready(function() {
				
		});

		</script>
	</head>
	<body>
	
	<div class="navbar navbar-fixed-top" id="main-nav">
		<div class="navbar-inner">
			Global nav
		</div>
	</div>
  
    <%- body %>

	<script src="/bootstrap/js/bootstrap-carousel.js"></script>
	<script src="/bootstrap/js/bootstrap-transition.js"></script>

    <!--[if lt IE 7 ]>
      <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
	
	</body>
</html>